@themeColor: #1890ff;
@menuFontSize: 14px;
@menuLineHeight: 40px;
@menuFontColor: #393939;

.note{
    min-height: calc(100% - 64px);
    background-color: transparent;
    .note-sider{
        border-top-left-radius: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 20px;
        font-size: @menuFontSize;
        position: relative;
        .note-menu {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: transparent;
        }
    }
    &-container {
        flex: auto;
        display: flex;
        .note-list {
            flex-basis: 250px;
            background-color: rgba(255, 255, 255);
            border-right: 1px solid #eee;
        }
        .note-content {
            height: 100%;
            flex: auto;
            background-color: rgba(255, 255, 255);
        }
    }
}