@themeColor: #1890ff;
@menuFontSize: 14px;
@menuLineHeight: 40px;
@menuFontColor: #393939;

.note{
    min-height: calc(100% - 64px);
    background-color: transparent;
    .note-sider{
        border-top-left-radius: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 20px;
        font-size: @menuFontSize;
        position: relative;
        .note-menu {
            height: 100%;
            background-color: transparent;
            .ant-menu-item {
                margin: 0;
                color: @menuFontColor;
                font-size: @menuFontSize;
                &:first-child {
                    padding: 0 !important;
                    height: 50px;
                    border-bottom: 1px solid #ccc;
                    line-height: 50px;
                    text-align: center;
                    border-top-left-radius: 3px;
                }
                a {
                    display: inline-block;
                    color: @menuFontColor;
                    font-size: @menuFontSize;
                }
            }
            .ant-menu-item-active {
                background-color: #e4edff;
            }
            .ant-menu-item-selected {
                background-color: @themeColor;
                color: #FFFFFF;
                a {
                    color: #FFFFFF;
                }
            }
            .ant-tree {
                color: @menuFontColor;
                font-size: @menuFontSize;
                li{
                    padding: 0;
                    line-height: @menuLineHeight;
                    vertical-align: center;
                    .ant-tree-switcher{
                        position: absolute;
                        height: @menuLineHeight;
                        line-height: @menuLineHeight;
                    }
                    .ant-tree-node-content-wrapper{
                        margin: 0;
                        padding: 0;
                        border: 0;
                        display: inline-block;
                        width: 100%;
                        height: @menuLineHeight;
                        line-height: @menuLineHeight;
                        padding-left: 30px;
                        color: @menuFontColor;
                        &:hover {
                            background-color: #e4edff;
                        }
                        .ant-tree-iconEle{
                            line-height: @menuLineHeight;
                        }
                    }
                }
                .ant-tree-treenode-selected{
                    &>span{
                        color: #FFFFFF;
                    }
                    .ant-tree-node-selected {
                        color: #FFFFFF;
                        background-color: @themeColor;
                        &:hover {
                            background-color: @themeColor;
                        }
                    }
                }
                
            }
        }
        .self-right-menu{
            width: 100px;
            box-shadow: 1px 1px 3px #ccc,0px -1px 3px #ccc;
        }
    }
}
.ant-menu-submenu{
    width: 100px;
    .ant-menu-sub{
        min-width: 100px;
        box-shadow: 1px 1px 3px #ccc,0px -1px 3px #ccc;
    }
}