.content-container{
    .ant-spin-nested-loading{
        height: 100%;
        .ant-spin-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            .content-header{
                display: flex;
                flex: 0 0 60px;
                line-height: 60px;
                border-bottom: 1px solid #eee;
                padding: 0 20px;
                .content-title{
                    flex: auto;
                    height: 59px;
                    font-size: 18px;
                    padding: 5px 0;
                    border-radius: 0;
                    border: 0px;
                    &:focus{
                        outline:none;
                    }
                }
                .content-button{
                    width: 80px;
                    margin: 14px 10px;
                }
                .content-info{
                    font-size: 18px;
                    line-height: 60px;
                    margin: 0 10px;
                    cursor: pointer;
                }
            }
            .content-data{
                flex: auto;
                display: flex;
                .editor{
                    flex: auto;
                    .mditor{
                        height: 100% !important;
                    }
                }
                .detail-editor{
                    display: inline-block;
                    .mditor{
                        width: 100%;
                        .head{
                            .toolbar{
                                :not(.fa-arrows-alt){
                                    display: none;
                                }
                            }            
                        }
                        .body{
                            .editor{
                                display: none;
                            }
                            .viewer{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}