.content-container{
    .content-data{
        .detail-editor{
            display: inline-block;
            width: 100%;
            height: 100%;
            .mditor{
                width: 100%;
                .head{
                    .toolbar{
                        :not(.fa-arrows-alt){
                            display: none;
                        }
                    }            
                }
                .body{
                    div.editor{
                        display: none;
                    }
                    div.viewer{
                        width: 100%;
                        padding: 50px 0;
                    }
                }
            }
        }
    }
}