@themeColor: #fa5252;
.ant-layout-header {
	background-color: @themeColor;
	.ant-menu {
		background-color: @themeColor;
		.ant-menu-item-selected{
			background-color: #FFFFFF;
			a{
				color: @themeColor;
			}
		}
	}
}