@themeColor: #fa5252;
.ant-layout-header {
	background-color: @themeColor;
	.ant-menu {
		background-color: @themeColor;
		.ant-menu-item-selected{
			background-color: rgba(255, 255, 255, 0.3);
			a{
				color: #FFFFFF;
			}
		}
	}
}