.ant-fullcalendar-nofull{
    width: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .ant-fullcalendar-date{
        &:hover{
            .ant-fullcalendar-value{
                background: #e6f7ff;
                cursor: pointer;
            }
        }
        .ant-fullcalendar-content{
            .ant-fullcalendar-value{
                font-size: 12px;
            }
        }
        .ant-fullcalendar-value{
            width: 90%;
        }
    }
    .ant-fullcalendar-today{
        .ant-fullcalendar-value{
            box-shadow: none;
            color: #1890ff;
        }
    }
    .ant-fullcalendar-selected-day{
        &:hover{
            .ant-fullcalendar-value{
                color: #fff;
                background: #1890ff;
            }
        }
        .ant-fullcalendar-value{
            color: #fff;
            background: #1890ff;
        }
    }
}