.ant-fullcalendar-nofull{
    width: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .ant-fullcalendar-date{
        &:hover{
            .ant-fullcalendar-value{
                background: #e6f7ff;
                cursor: pointer;
            }
        }
        .ant-fullcalendar-content{
            .ant-fullcalendar-value{
                font-size: 12px;
            }
        }
        .ant-fullcalendar-value{
            width: 90%;
        }
    }
    .ant-fullcalendar-today{
        .ant-fullcalendar-value{
            box-shadow: none;
            color: #1890ff;
        }
    }
    .ant-fullcalendar-selected-day{
        &:hover{
            .ant-fullcalendar-value{
                color: #fff;
                background: #1890ff;
            }
        }
        .ant-fullcalendar-value{
            color: #fff;
            background: #1890ff;
        }
    }
}
.form-lunar{
    position: relative;
    .active-lunar{
        position: absolute;
    }
    .alert-enter {
        opacity: 0;
        transform: scale(0.9);
    }
    .alert-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
    }
    .alert-exit {
        opacity: 1;
    }
    .alert-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }
}